@*@Html.Action("IndexPartial")*@

@model DXMVCMD.Models.OrdersViewModel

@{
    ViewBag.Title = "Sanjeev Dev Express XPO Master Details Transaction Demo";
}

<h2>Sanjeev's Dev Express XPO Master Details Transaction Demo</h2>

@Html.Partial("_IndexPartial", Model)
@*@Html.Action("GridViewOrderDetail")*@
